<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}"/>
</head>
<body>
<table class="table table-sm table-striped table-bordered table-hover">
    <thead class="table-info">
    <tr>
        <th>Stop</th>
        <th>Arrival</th>
        <th>Departure</th>
        <th>Price</th>
        <th>Buy ticket</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${busDeparture.getBusStops().isEmpty()}">
        <td colspan="3"> No Stops</td>
    </tr>
    <tr th:each="stop : ${busDeparture.getBusStops()}">
        <td><span th:text="${stop.getRouteStop().getStop().getStopName()}">Stop</span></td>
        <td><span th:text="${stop.getArrivalDate()}">Arrival</span></td>
        <td><span th:text="${stop.getDepartureDate()}">Departure</span></td>
        <td><span th:text="${stop.getPrice()}">Price</span></td>
        <td th:if="${stop.getRouteStop().getStopIndex() != 0}">
            <a th:href="@{buy_ticket(busStopId=${stop.id})}" class="btn btn-sm btn-info">
                <i class="bi bi-cash"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>